
@media (max-width: 1024px) {
    body {
        flex-direction: column;
        display: flexbox;
        font-size: 1.5rem;
        flex-wrap: wrap;

    }

    .menu-principal {
        display: flexbox;
        justify-content: space-between;

    }

    .botao-primario {
        font-size: 1.2rem;
        margin-top: 1rem;
        
    }
   
    .botoes li {
        display: inline-flex;
        height: 4rem;
    }
    .principal{
        display: grid;
        grid-template-columns: 1fr 1fr;   
        max-width: auto;
        margin: 0 auto;
    }

    .presentaçao{
        display: flexbox;
        line-height: 2.5rem;
        
    }

    .formaçao,
    .experiencia,
    .projetos,
    .contato {
        text-align: center;
        flex-direction: column;
        line-height: 2.5rem;

    }

    .toti,
    .barista,
    .unerg,
    .padaria,
    .fazenda,
    .ministerio{
        font-size: 2.3rem;

    } 
    .ano {
        font-size: 1.8rem;
    }
    
    .profesion {
        font-size: 2.2rem;
    }
    
    .instituto {
        font-size: 2rem;
    }    


    
    .projetos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 2rem;
    }
    .card{
        padding: 2.5rem;
        margin: 1rem;
        width: 16rem;

        
    }
    .botao-secundario{
        font-size: 2rem;
        display: flexbox;
    }
    a {
        font-size: 1.5rem;
        text-align: center;
        
    }
    main {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        display: flexbox;
    
    }
    .parrafo-rodape{
        font-size: 2.5rem;
        text-align: center;
    }
    .foto-links-rodape {
        height: 8rem;
        width: 8rem;
    }
    
    .mensagem{
        font-size: 1.7rem;
        margin: auto;
    
    }
    #botao-terciario {
        font-size: 2rem;
        display: flexbox;

    }
    .foto-links-rodape {
        bottom: 2rem;
        left: 50%;
    
    }

}
