@media (max-width: 1366px) {
    body {
        width: 1200px;
        flex-direction: column;
        justify-content: space-between;
    }

    header {
        width: 1200px;
        text-align: center;
    }
    .card{
        padding: 2.5rem;
        margin: 1rem;
        width: 16rem;

    }
    main,
    footer {
        width: 1200px;
        flex-direction: column;
        justify-content: space-between;

    }
}