@media (max-width: 480px) {
    body {
        flex-direction: flex;
        align-items: center;
    }

   .menu-principal{
    display: none;
   }

    .presentaçao {
        display: inline-flex;
        align-self: center;
        padding-top: 12rem;
        line-height: 1rem;

    }

    .parrafo {
        text-align: center;
    }

    .projetos {
        align-content: center;

    }

    p {
        font-size: 2rem;
    }
    .api.card{
        padding: 2rem;
        display: inline;

    }
    .api-projetos {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .botao-secundario{
        font-size: 3rem;
        align-items: center;
    }

    a {
        text-align: center;
    }
    
    .contato {
        display: grid;
        grid-template-columns: 1fr;

    }
    .parrafo-rodape{
        margin:  0 6rem;
    }

    .mensagem {
        font-size: 2rem;
        display: inline;
        border: none;
        align-items: center;
    }

    .foto-links-rodape{
         left: 2%;

    }
    #botao-terciario {
        height: 4.5rem;
        width: 60%;
    }
}