@media (max-width: 320px) {
    body {
        flex-direction: flex;
        align-items: center;
    }

    .imagencapa {
        height: 25rem;
    }

    .foto-grande {
        left: 55%;

    }

    .foto-links {
        height: 7rem;
        width: 7rem;
        right: 1rem;
        display: flex;

    }

    .presentaçao {
        display: flex;
        align-self: center;

    }

    .parrafo {
        margin: 0 3rem 0 5rem;

    }

    .parrafo,
    .formaçao,
    .experiencia,
    .projetos,
    .contato {
        line-height: 3rem;
    }

    .projetos {
        align-content: center;

    }

    .api.card {
        width: 50rem;
    }

    .botao-secundario {
        height: 4rem;
        align-items: center;
    }

    a {
        text-align: center;
    }

    footer {
        margin: 0 0;

    }

    .contato {
        grid-template-columns: 1fr 1fr;

    }

    .parrafo-rodape {
        margin: 0 3rem 0 5rem;
        text-align: center;
    }

    .foto-links-rodape {
        justify-content: center;
        margin-top: 6rem;
        right: 1rem;
        
    }

    #mensagem {
        font-size: 2rem;
        display: flex;
        text-align: justify;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #botao-terciario {
        height: 4.5rem;
        width: 60%;
    }
}