@media (max-width: 320px) {
    body {
        flex-direction: flex;
        align-items: center;
    }

    .imagencapa {
        height: 25rem;
    }

    .foto-grande {
        left: 55%;

    }

    .foto-links {
        height: 7rem;
        width: 7rem;
        right: 1rem;
        display: flex;

    }

    .presentaçao {
        display: flex;
        align-self: center;

    }

    .parrafo,
    .formaçao,
    .experiencia,
    .projetos,
    .contato {
        line-height: 3rem;
    }

    .projetos {
        align-content: center;

    }

    .card-deck {
        display: inline;
        padding: 1rem;
        margin: .5rem;

    }

    .card-imagen {
        height: 33rem;
        width: 50rem;
        max-width: auto;
        max-height: auto;
    }

    .card {
        width: 50rem;

    }

    p {
        font-size: 2rem;
    }

    .botao-secundario {
        height: 4rem;
        width: 50rem;
        align-items: center;
        margin: 1rem;
        padding-left: 10rem;

    }

    a {
        text-align: center;
        margin: 7rem;
    }

    footer {
        margin: 0 0;
    }
    .parrafo-rodape{
        left: 10rem;
    }

    .foto-links-rodape {
        height: 9rem;
        width: 9rem;
        display: flex;
        bottom: 40rem;
    }

    .mensagem {
        font-size: 2rem;
        display: flex;
        align-items: center;
    }



    .botao-terciario {
        height: 4.5rem;
        width: 60%;
    }