@media (max-width: 480px) {
    body {
        flex-direction: flex;
        align-items: center;
    }

   .menu-principal{
    display: none;
   }

    .presentaçao {
        display: inline-flex;
        align-self: center;
        padding-top: 12rem;
        line-height: 1rem;

    }

    .parrafo {
        text-align: center;
    }

    .projetos {
        align-content: center;

    }

    .card-deck {
        display: inline;
        padding: 1rem;
        margin: .5rem;

    }

    .card-imagen {
        height: 33rem;
        width: 50rem;
        max-width: auto;
        max-height: auto;
    }

    .card {
        width: 50rem;

        
    }

    p {
        font-size: 2rem;
    }

    .botao-secundario {
        height: 4rem;
        width: 50rem;
        align-items: center;
        margin: 1rem;
        padding-left: 10rem;

    }

    a {
        text-align: center;
        margin: 7rem;
    }
    
    .contato {
        display: grid;
        grid-template-columns: 1fr;

    }
    .parrafo-rodape{
        margin:  0 6rem;
    }

    .mensagem {
        font-size: 2rem;
        display: inline;
        border: none;
        align-items: center;
    }
    .nome,
    .e-mail,
    .assunto,
    .comentario {

        width: 50rem;
        max-width: auto;
    
    }

    .foto-links-rodape{
         left: 2%;

    }
    .botao-terciario {
        height: 4.5rem;
        width: 60%;
    }
}