body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: auto;
    max-height: auto;
    max-width: 70rem;
    text-align: center;
}

.fotopequena{
    object-fit: cover;
    height: 6rem;
    width: 6rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    margin-left: 5rem;
    
}
.menu-principal {
    display: flex;
    justify-content: space-between;
    background-color: rgb(159, 80, 234);
    flex-wrap: wrap;

}
.botao-primario{
     border-radius: .5rem;
     border-color: #fff;
     background-color: #fff;
     margin-top: 1.2rem;

}
.botoes li{
    display: inline-flex;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    align-content: center;
    color:#000 ;
    text-transform: uppercase;
}
.imagencapa{
    position: inherit;
    justify-items: center;
    width: 70rem;
    height: auto;
}

.foto-grande{
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    position: relative;
    bottom: 16rem;
    left: 10rem;
}

.foto-links{
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    position: relative;
    bottom: 13rem;
    right: 8rem;

}
.avatar{
    position: relative;
    left: -20rem;
    flex-wrap: wrap;
    
}
.presentaçao {  
    background-color: #fff;
    text-indent: 15%;
}
.parrafo{
    display: flexbox;
    margin-top: -20rem;
    margin-left: 15rem;
    text-indent: 15%;
    text-align: left;
}

hr {
    border-style: none;
/*formaçao*/
}
.formaçao {
    background-color: rgb(193, 163, 251);
    display: flexbox;
    text-align: justify;
    padding: .5rem;
}
.toti,
.barista,
.unerg, 
.padaria,
.fazenda,
.ministerio{
    list-style: none;
   
}
.ano{
    font-size: 1rem ;
}
.profesion{
    font-size: 1.3rem;
}
.instituto{
    font-size: 1,1rem;
}

/*experiencia*/
.experiencia {
    background-color: #fff;
    display: flexbox;
    text-align: justify;
    padding: .5rem;

}

/*projetos no github*/
/*cards foto descripçao e botoes pode ser dois o um, de 3 em 3*/

.projetos {
    background-color: rgb(193, 163, 251);
}


/*contato link menos importante com caixa de mensagem*/
.contato {
    background-color: #fff;
}