body > * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: .5rem;
    padding: 1rem 1rem;
    max-height: auto;
    max-width: auto;
    text-align: center;
    width: 1366px;
    display: flexbox;
}

.fotopequena {
    object-fit: cover;
    height: 6rem;
    width: 6rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    margin-left: 5rem;

}

.menu-principal {
    display: flex;
    justify-content: space-between;
    background-color: rgb(159, 80, 234);
    flex-wrap: wrap;

}

.botao-primario {
    border-radius: .5rem;
    border-color: #fff;
    background-color: rgb(193, 163, 251);
    margin-top: 1.2rem;

}

.botoes li {
    display: inline-flex;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    align-content: center;
    color: #000;
    text-transform: uppercase;
}

.imagencapa {
    position: inherit;
    justify-items: center;
    width: 100%;
    height: 18rem;
    flex-wrap: wrap;

}

.avatar {
    display: flexbox;
    position: relative;
    left: -14rem;
    flex-wrap: wrap;
    margin-bottom: rem;
    bottom: -8rem;
}

.foto-grande {
    object-fit: cover;
    height: 18rem;
    width: 18rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    position: relative;
    bottom: 20rem;
    left: 10rem;
    flex-wrap: wrap;

}

.foto-links {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    position: relative;
    bottom: 18rem;
    right: 7rem;
    flex-wrap: wrap;

}

.presentaçao {
    background-color: #fff;
    text-indent: 30%;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 5rem;
    display: inline;
}

.parrafo {
    text-align: justify;
    align-self: center;
    width: auto;
    height: 15rem;
}

/*formaçao*/
.formaçao {
    background-color: rgb(193, 163, 251);
    display: flexbox;
    text-align: justify;
    padding: .5rem;
    flex-wrap: wrap;

}

.toti,
.barista,
.unerg,
.padaria,
.fazenda,
.ministerio {
    list-style: none;

}

.ano {
    font-size: 1rem;
}

.profesion {
    font-size: 1.3rem;
}

.instituto {
    font-size: 1, 1rem;
}

/*experiencia*/
.experiencia {
    background-color: #fff;
    display: flexbox;
    text-align: justify;
    padding: .5rem;
    flex-wrap: wrap;


}

/*projetos no github*/
/*cards foto descripçao e botoes pode ser dois o um, de 3 em 3*/
.projetos {
    background-color: rgb(193, 163, 251);
    text-align: justify;
    padding: .5rem;
    flex-wrap: wrap;


}

.card-deck {
    list-style: none;
    display: flex;
    text-align: center;
    padding: 1rem;
    margin: .5rem;
    align-content: space-between;
    flex-wrap: wrap;


}

.card-imagen {
    object-fit: cover;
    height: 12rem;
    width: 16rem;
    max-width: 100%;
    max-height: 100%;

}

.card {
    margin: auto;
    border-style: groove;
    border-radius: .7rem;
    display: flexbox;
    width: 16rem;
    background-color: #fff;
    padding: .5rem;

}

.botao-secundario {
    background-color: rgb(193, 163, 251);
    border-radius: .5rem;
    border-style: none;
}

/*contato link menos importante com caixa de mensagem*/
footer {
    display: flexbox;
    flex-wrap: wrap;
}

.contato {
    background-color: rgb(159, 80, 234);
    text-align: justify;
    padding: 1rem;
    display: flex;

}

.parrafo-rodape {
    text-align: justify;
    margin: .5rem;
    flex-wrap: wrap;

}

.foto-links-rodape {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 35%;
    position: static;
    left: 8rem;
    padding: 1rem;
    flex-wrap: wrap;

}

.mensagem {
    display: flex;
    border-style: groove;
    border-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    margin: .5rem;
    font-size: 1rem;

}

.cajitas {
    list-style: none;
    text-transform: uppercase;

}

.nome,
.e-mail,
.assunto {
    margin: .3rem;
    margin-right: 18rem;
    font-size: 1rem;
    height: 1rem;
    border-radius: .5rem;
    border: .1rem solid;
    padding: 1rem;
    width: 90%;
    max-width: auto;
    max-height: 100%;

}

.comentario {
    margin: .3rem;
    margin-right: 18rem;
    font-size: 1rem;
    height: 8rem;
    border-radius: .5rem;
    border: .1rem solid;
    padding: 1rem;
    width: 90%;
    max-width: auto;
    max-height: 100%;
}

.botao-terciario {
    border-radius: .5rem;
    border-color: #fff;
    background-color: rgb(193, 163, 251);
    margin-top: 1.2rem;
    text-transform: uppercase;
    font-size: 1.3rem;

}

.boton {
    text-align: center;
}

